@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Dancing+Script&family=Heebo:wght@500&family=Hind:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Kanit:wght@400;500;600&family=Manrope:wght@500&family=Noto+Sans:wght@500&family=Poppins:wght@800&family=Roboto&family=Shantell+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
#navbar{
   
    z-index: 100;
    box-shadow: 5px,5px,20px,rgba(0,0,0,.5);
    background-color: black;
   font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fa-solid{
    color: #2D9CDB;
    margin: 10px;
}
.navbar-toggle{
    height: 20px;
}
.navbar-toggle .nav-link active{
    margin:50px;

}
.fa-brands {
    color: white;
}

#home{
    margin-bottom: 400px;
    background-image: url(heroimage.png);
  
    height: 850px;
    width: 100%;
    position: absolute;
  
}
@media (max-width:768px){
    #navbar .nav-link{
        margin-left: 130px;
        
        
    }
}
@media(max-width:768px){
    #home{
        margin: 0;
        padding: 0;
        margin-bottom: 400px;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 325px;
        
        
    }
   
   
}
@media(max-width:768px){
    #home .text-centre{
        margin: 10px;
        padding: 10px;
        margin-top: 50px;

        font-size: x-large;
       
    }
    #home .aqua{
        margin: 10px;
        margin-top: 40px;
        font-size: small;
        
        
    }
}
    
        
       
        
 #home h1{
    font-family: poppins;
    font-size: 60px;
    margin-left: 110px;
    margin-top: 200px;
    color: white;
 }
 #home p{
    font-family:Roboto;
    color: #6d6666;
    margin-top: 10px;
    margin-left: 120px;
    font-size: medium;

 }
 #home button {
    background: linear-gradient(0deg, #2D9CDB, #2D9CDB);
    border-color: antiquewhite;

    color: white;
    width: Hug (178.89px);
    height: Fixed (70px);
    top: 255px;
    padding: 20px 52px;
    border-radius: 10px;
    border: 2px;
    font-family: Roboto;
    border: px solid rgba(118, 118, 118, 1);
    margin-left: 110px;
    margin-top: 15px;
    border-color: beige;
    margin-top: 90px;
  
}
    #home button a{
       font-family: Roboto;
       color: white;
    }
    .about img{
        margin-top:850px;
        position: absolute;
    }
    @media (max-width:768px){
        .about img{
            height: 250px;
            margin-bottom: 20px;
            margin: 0;
            margin-top: 350px;
            position: absolute;
            margin-left: 60px;
        }
    }
    .about p{
       position: absolute;
        margin-top: 900px;
        margin-left: 800px;
        color:  rgba(45, 156, 219, 1);
        font-family: Poppins;
        font-size: larger;
    }
    .bus {
        margin: 0;
        padding: 0;
        font-family: poppins;
        font-size: 50px;
        font-weight: 800;
        margin-top: 950px;
        margin-left: 800px;
        position: absolute;
      }
      @media (max-width:768px){
        .about p{
            position: absolute;
            margin: 0;
            margin-top: 615px;
            margin-left: 160px;
        }
        .bus{
            position: absolute;
            margin: 0;
            font-size: x-large;
            margin-top: 650px;
            margin-left: 150px;
        }
      }
      .content-1 h4{
        font-family: Roboto;
        margin: 0;
        position: absolute;
        font-size: 15px;
        margin-top: 1100px;
        margin-left: 815px;
         color:black;
      }
      @media (max-width:768px){
        .content-1 h4{
            position: absolute;
          
            font-size: medium;
            
            margin-top: 720px;
            margin-left: 50px;
            
        }
      }
      .check  {
      font-family:Robota;
        position: absolute;
        margin: 0;
        margin-top: 1180px;
        margin-left: 800px;
        position: absolute;
        font-size: small;
        color: black;
        
      }
      @media (max-width:768px){
        .check  {
            position: absolute;
            margin: 0;
            margin-top: 800px;
            margin-left: 40px;
            
    
          
        }
      }
      .check .fa-solid {
        background: #2D9CDB;
        color: white;
        padding: 8px 9px;
        border-radius: 29px;
        border-color: white;
        font-size: medium;
        
        
      }
      .services {
        background: rgba(244, 246, 253, 1);
         height: 520px;
         width: 100%;
      margin-top: 1500px;
         position: absolute;
        
        }
        @media (max-width:768px){
            .services {
                position: absolute;
                margin-top: 1100px;
                margin-left: 0px;
                height: 500px;
                width: 100%;
                font-size: small;
            }
            .services .s1{
                margin: 0;
                margin-left: 38%;
            }
            .services .s2{
                position: absolute;
                margin-top: 20px;
                font-size: large;
                margin: 0;
                margin-left: 33%;
            }
        }
        .services p{
           color:  rgba(45, 156, 219, 1);
           font-family: Poppins;
           font-size: x-large;
           margin-top: 50px;
           margin-left: 625px;
          
        }
        .services h1{
           font-family: poppins;
        font-size: 50px;
     
       
        margin-top: 20px;
        margin-left: 400px;
        }
       
         /* our */
         .our {
            display: flex;
            margin: 0;
         }
          .serv-1{
            background-color: black;
            margin-top: 1700px;
            margin-left: 150px;
            position: absolute;
        
          
            height: 300px;
            width: 375px;
            color: #2D9CDB;
            font-family: poppins;
            display: flex;
         
            border-radius: 12px 22px;
      
            
         }
         .serv-1 p{
            margin-left: 190px;
            position: absolute;
           
            font-size: larger;
            margin: 20px;
         }
        .serv-1 h6{
       position: absolute;
         margin-top: 60px;
         margin-left: 20px;
         font-family:sans-serif;
         font-weight: 300;
         line-height: 19px;
         font-size: small;
         }
         .our .serv-2{
            background-color: black;
            margin-top: 1700px;
            margin-right: 30px;
            margin-left: 630px;
            height: 300px;
            width: 380px;
            color: #2D9CDB;
            font-family: poppins;
            display: flex;
            position: absolute;
            
         
            border-radius: 12px 22px;
      
            
         }
         .serv-2 p{
            margin-left: 30px;
            margin-top: 20px;
            font-size: larger;
         }
        .serv-2 h6{
       position: absolute;
         margin-top: 60px;
         margin-left: 30px;
         font-family:sans-serif;
         font-weight: 300;
         line-height: 19px;
         font-size: small;
         }
         .serv-3{
            background-color: black;
            margin-top: 1700px;
            position: absolute;
        
            margin-left: 1100px;
            margin-right: 30px;
            height: 300px;
            width: 380px;
            color: #2D9CDB;
            font-family: poppins;
            display: flex;
         
            border-radius: 12px 22px;
      
            
         }
         .serv-3 p{
            margin-left: 30px;
            margin-top: 20px;
            font-size: larger;
         }
        .serv-3 h6{
       position: absolute;
         margin-top: 60px;
         margin-left: 30px;
         font-family:sans-serif;
         font-weight: 300;
         line-height: 19px;
         font-size: small;
         }
         /*-----Media queru */
         @media (max-width:768px){
            .our{
                display: block;
              
            }
         
            .serv-1{
                position: absolute;
                margin: 0;
                margin-top: 1250px;
                margin-left: 60px;
            }
            .our .serv-2{
                position: absolute;
                margin: 0;
                margin-top: 1625px;
                margin-left: 60px;

            }
            .serv-3{
                position: absolute;
                margin: 0;
                margin-top:2000px;
                margin-left: 60px;
            }

        }
        .touch{
            display: flex;
       
         }
         .touch p{
            margin: 0;
            padding: 0;
            margin-top: 2220px;
            margin-left: 200px;
            color: #2D9CDB;
            font-family: poppins;
            font-size: x-large;
            position: absolute;
         }
       .t-1  h1{
         position: absolute;
         margin: 0;
         padding: 0;
         margin-left: 180px;
         margin-top: 2270px;
         font-family: poppines;
         font-weight: 700;
         color: #2d2b2b;
         font-size: 70px;
         }
         .t-1 h6{
            position: absolute;
            margin: 0;
            padding: 0;
            margin-left: 180px;
            margin-top: 2460px;
            font-family: sans-serif;
            font-size: medium;
            color: #767676;
         }
            /*----tounch media query---*/
            @media (max-width:768px){
                .touch p{
                    margin: 0;
                    position: absolute;
                    margin-top: 2360px;
                    margin-left: 130px;
                }
                .t-1 h1{
                    position: absolute;
                    font-size: xx-large;
                    margin: 0;
                    margin-top: 2420px;
                    margin-left: 110px;
                }
                .t-1 h6{
                    position: absolute;
                    font-size: small;
                    margin: 0;
                    margin-top: 2510px;
                    margin-left: 120px;

                }
            }
         
         /*         ---- validation---------- */
        .validation{
            margin-left: 850px;
            margin-top: 2200px;
         }
         .validation .form-1 input{
            margin: 10px;
            padding:  22px 45px;
            border-radius: 10px;
            border-color: #2D9CDB; 
         
            font-family: Roboto;
            
         }
         .validation .form-2 input{
            margin: 10px;
            padding:  22px 45px;
            border-radius: 15px;
            border-color: #2D9CDB; 
            font-family: Roboto;
         }
         .validation .form-3 input{
            margin: 10px;
            padding:  55px 180px;
            border-radius: 10px;
            border-color: #2D9CDB; 
            font-family: Roboto;
            font-size: medium;
            
         }
             .validation .btn-2{
               background: linear-gradient(0deg, #2D9CDB, #2D9CDB),
               linear-gradient(0deg, #767676, #767676);
               color: white;
               width: Hug (178.89px);
               height: Fixed (70px);
               top: 255px;
               padding: 20px 62px;
               border-radius: 10px;
               border: 2px;
               font-family: Roboto;
               border: px solid rgba(118, 118, 118, 1);
               margin-left: 170px;
               margin-top: 15px;
               border-color: beige;
             }
             /*------media query validation*/
             @media (max-width:768px){
                .validation{
                    position:absolute;
                    margin:0;
                    margin-top: 2570px;
                }
                .validation .form-1 input{
                    margin: 0;
                    padding:  10px 5px;
                    margin-left: 30px;
                    border-radius: 10px;
                }
                .validation .form-2 input{
                    margin: 0;
                    padding: 10px 5px;
                    margin-left: 30px;
                    margin-top: 30px;
                }
                .validation .form-3 input{
                    margin: 0;
                    padding: 22px 25px;
                    margin-top: 30px;
                    margin-left: 120px;
                }
                .validation .btn-2{
                    margin: 0;
                    padding: 10px 22px;
                    margin-top: 30px;
                    margin-left: 170px;
                }
             }
              /*------Footer------*/
           footer{
            background: black;
            height: 450px;
            width: 100%;
            margin-top: 140px;
            position: absolute;
          }
          .footer-1 p{
            margin: 0;
            padding: 0;
            color: #2D9CDB;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position: absolute;
            margin-left: 230px;
            margin-top: 200px;
          }
          .footer-2 h4{
            margin: 0;
            padding: 0;
            font-family: poppins;
            font-size: x-large;
            position: absolute;
            margin-left: 760px;
            margin-top: 120px;
            color: white;
          }
          .footer-2 .fa-solid{
            background: #2D9CDB;
            color: white;
            padding: 8px 10px;
            border-radius: 29px;
            border-color: white;
            position: absolute;
            margin-left: 750px;
            margin-top: 188px;
          }
          .footer-2 p a {
            position: absolute;
            color: #2D9CDB;
            font-family: sans-serif;
            position: absolute;
            margin-left: 830px;
            margin-top: 165px;
            line-height: 30px;
            list-style: none;
            text-decoration: none;
          }
          .footer-2 p  :hover{
            color: white;
          }
          .footer-2 .mobile {
            position: absolute;
            margin-top: 100px;
          }
          .footer-2 .mobile p a{
            margin-top: 190px;
          }
          .footer-2 .email{
            position: absolute;
            margin-top: 170px;
          }
          .footer-2 .email p a{
            margin-top: 190px;
          }
          @media (max-width:768px) {
            footer{
             position: absolute;
             margin: 0;
             height: 400px;
             margin-top: 2890px;
            }
            .footer-1 p{
                margin: 0;
                margin-top: 40px;
                font-size: small;
                margin-left: 70px;
            }
            .footer-2 h4{
                margin: 0;
                font-size: x-large;
                margin-left: 150px;
                margin-top: 80px;
            }
            .footer-2 .fa-solid{
                margin: 0;
                font-size: small;
                position: absolute;
                margin-top: 140px;
                margin-left: 70px;
            }
            .footer-2 p a{
                margin: 0;
                font-size: medium;
                margin-top: 140px;
                margin-left: 130px;
            }
            .footer-2 .mobile p a{
               position: absolute;
               margin: 140px;
            }
            .footer-2 .email p a{
                position: absolute;
                margin: 140px;
            }

            
          }